build
.DS_Store
*.ncb
*.obj
*.exe
*.idb
*.o
*.user
*.pch
*.pdb
*.suo
*.lib
*.dll
*.dylib
*.so
BuildLog.htm
*/Debug/*
*/Release/*
*.res
*.embed.manifest
*.intermediate.manifest
*.dep
*.sdf
*.old
*.orig
*/Debug
*/Release
UpgradeLog.XML
_UpgradeReport_Files
*.vcxproj
*.vcxproj.filters
msvc/SHD/Release/
msvc/SHDTest/Debug/
msvc/SHDTest/Release/